extends layout 

block content 
  h1= title 

  if categoria_list && categoria_list.length 
    each categoria in categoria_list 
        h2
          a(href=categoria.url)= categoria.name 
  else
    p No hay categorías disponibles
  p 
    a(href='/posts/categorias/create') Crear Categoria 