extends layout

block content
  h1 Delete Post
  
  p Are you sure you want to delete "#{post.title}"?
  
  form(method='POST' action='')
    
    input(type='hidden' name='postId' value=post._id)
    
    button.btn.btn-danger(type='submit') Yes, delete
    a.btn.btn-secondary(href=`/posts/${post._id}`) Cancel